body {
	font-size: 90%;
	font-family: Helvetica, Calibri, Arial;
	line-height: 1.5;
	text-align: left;
	background-color: #D3D3D3;
}

.body {
	margin: 0 auto;
	width: 80%;
	/* prevents floating */
	clear: both;
}

.mainHeader img {
	width: 20%;
	height: auto;
	margin: 2% 0;
}

.mainHeader nav {
	background-color: #475eb8;
	height: 40px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.mainHeader nav ul {
	list-style-type: none;
	margin: 0 auto;
}

.mainHeader nav ul li {
	float: left;
	display: inline;	
}

.mainHeader nav a:link, .mainHeader nav a:visited {
	color: white;
	display: inline-block;
	padding: 10px 25px;
	height: 20px;
}

a {
	text-decoration: none;
}

.mainHeader nav a:hover, mainHeader nav a:active, mainHeader nav .active a:link, .mainHeader nav .active a:visited {
	background-color: grey;
	text-shadow: none;
}

.mainHeader nav ul lia a {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.mainContent {
	line-height: 25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.mainContent img {
	width: 70%;
	height: auto;
}

.BackgroundInfo {
	background-color: white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2%;
}

.MyGamingPassion {
	background-color: white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2%;
	margin-bottom: 2%;
}

.content {
	width: 70%;
	float: left;
}

.firstContent {
	background-color: white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2%;
}

.secondContent {
	background-color: white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2%;
}

.sidebarRight {
	width: 20%;
	float: left;
	background-color: white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 1.5% 0 2% 3%;
	padding: 2% 3%;
}

.mainFooterhome {
	width: 100%;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #475eb8;
	margin-top: -20%;
}

.mainFooterhome p {
	width: 92%;
	margin: 2% auto;
	color: white;
}

.mainFooterAbout {
	width: 100%;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #475eb8;
	margin-top: 0;
	margin-bottom: 2%;
}

.mainFooterAbout p {
	width: 92%;
	margin: 2% auto;
	color: white;
}

.ryu {
	position: relative;
	float: right;
	width: 600px;
	top: -250px;
	animation-name: uppercut;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

@keyframes uppercut{
	from{transform:translateX(0)}
	to{transform:translateY(-700px)}
}

@media only screen and (min-width: 150px) and (max-width: 700px)
{
	.body {
	width: 90%;
	font-size: 95%
}

.mainHeader img {
	width: 100%;
}

.mainHeader nav {
	height: 200px;
}

.mainHeader nav ul {
	padding-left: 0;
}

.mainHeader nav ul li {
	width: 100%;
	text-align: center;
}

.mainHeader nav a:link, .mainHeader nav a:visited {
	padding: 10px 25px;
	height: 20px;
	display: block;
}

.content {
	width: 100%;
	float: left;
	margin-top: 2%;
}

.firstContent {
	background-color: white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2%;
	margin-bottom: 3%;
}

.secondContent {
	margin-top: 3%;
}

.sidebarRight {
	width: 85%;
	margin: 2% 0 3% 5%;
	padding: 2% 3%;
}

}